<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="Styles/xg.css" rel="stylesheet" />
    <link href="Styles/css.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.8.2.js"></script>
    <script src="Scripts/xg.js"></script>
    <script src="Scripts/js.js"></script>
    <title></title>
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <i class="icon-logo"></i>
        </div>
        <ul class="nav bg-nav-top">
            <li><i class="icon-nav"></i><a href="Index.html" class="font-hei">首页</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
            <li><i class="icon-nav"></i><a href="List.html" class="font-hei">栏目栏目</a></li>
        </ul>
        <div class="main">
            <div class="layout-left">
                <ul class="nav-left">
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                    <li class="bg-nav-left"><a href="List.html"><i></i>栏目栏目</a></li>
                </ul>
            </div>
            <div class="layout-right">
                <div class="detail center">
                    <h3 class="text-center font-hei">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <h4 class="text-center">作者：某某某<span>已浏览20次</span>2014年10月15日</h4>
                    <hr class="center" />
                    <div id="editor">
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                        富文本(格式不受当前页面影响，由用户自定义)<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="bottom">
            &copy; 2015 青藏铁路公司西宁东车辆段 版权所有
        </div>
    </div>
</body>
</html>
